body {
    margin: 0;
    font-family: $font-stack;
    color: $black;
    min-height: 100vh;
    margin: 0 36px;
    
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    background-position: top center;
    background-size: 100vw;
    background-repeat: no-repeat;
}

.page--home {
    background-image: url(/assets/img/bg_1.svg)
}
.page--open {
    background-image: url(/assets/img/header.svg);
    background-size: auto;
}

.media {
    width: 100%;
}
main, section {
    margin: 128px 0;
    flex-grow: 1;
}