body {
    margin: 0;
    font-family: $font-stack;
    color: $black;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    background-image: url(/assets/img/header.svg);
    background-size: auto;
    background-position: top center;
    background-repeat: no-repeat;
}

// .page--home {
//     background-image: url(/assets/img/bg_1.svg);
//     background-size: 100vw;
// }

// @media only screen and (max-width: 479px) {
//     .page--home {
//         background-image: url(/assets/img/header.svg);
//         background-size: auto;
//     }
// }
.media {
    width: 100%;
}

main, section {
    margin-top: 96px;
    margin-bottom: 96px;
    flex-grow: 1;

    @media only screen and (max-width: 479px) {
        margin-top: 36px;
        margin-bottom: 36px;
    }
}

.main--default, .section--default {
    margin-top: unset;
    margin-bottom: unset;
}