$font-stack: Montserrat, Helvetica, "Segoe UI", Arial, sans-serif;

$accent: $accent--medium;
$white: $white--extra-light;
$black: $black--dark;
$info: $info--medium;
$success: $success--medium;
$warning: $warning--medium;
$error: $error--medium;