@import 'variables';

@import 'global';


@import 'partials/typography';
@import 'partials/buttons';
@import 'partials/grid';
@import 'partials/header';
@import 'partials/footer';

.test {
    justify-self: stretch;
    align-self: stretch;
    background-color:steelblue;
    opacity: 0.5;
}