//- Coming Soon.pug

block variables
    - var page_title = "Coming Soon"
    - var site_title = "DevMe - A Universal Profile for Developers"
    - var site_desc = "All your socials on one Page. Stay tuned for updates."
    - var url = "https://getdevme.com"

doctype html
html(lang="en")
    head
        include ../templates/seo.pug
        include ../templates/head.pug
    body.page-wrapper
        header.page-header
            img(src="/assets/wordmark.svg" alt="DevMe").page-header__logo-img
            a(href="#", role="button", hidden, aria-hidden=true, aria-label="Toggle Menu", aria-controls="nav")#hamburger.hamburger.js-hamburger
                span.hamburger__bar
                span.hamburger__bar
                span.hamburger__bar
            nav#nav.nav-wrapper.js-nav-wrapper
                a.nav__link(href="https://github.com/greenhousetech/devme", rel="external nofollow", aria-label="Find us on GitHub")
                    include ../assets/icon/github.svg
                a.nav__link(href="https://twitter.com/getdevme", rel="external nofollow", aria-label="Find us on Twitter")
                    include ../assets/icon/twitter.svg
        main.main--default
            .wrapper
                section.wrapper.lg-12.md-8.sm-4
                    .lg-6.md-8.sm-4
                        h2.text--title Coming Soon
                        h1.text--large All your socials. One Page.
                        p.text--bigger A free, universal profile for developers. Show off your projects, education, or geekiness.
                        form.form--single-input(action="https://getdevme.us18.list-manage.com/subscribe/post?u=4fdf9c5af9a5d0fee06a55de0&id=8338f7c35b", method="post", name="mc-embedded-subscribe-form", target="_blank")
                            input(type="email", name="EMAIL", required, placeholder="Email me updates", aria-label="Email me updates")
                            //- real people should not fill this in and expect good things - do not remove this or risk form bot signups
                            div(style="position: absolute; left: -5000px;", aria-hidden="true")
                                input(type="text", name="b_4fdf9c5af9a5d0fee06a55de0_8338f7c35b", tabindex="-1", value="")
                            button(type="submit", aria-label="Submit")
                                include ../assets/icon/email.svg
                    img.media.lg-6.md-8.sm-4(src="/assets/img/placeholder.svg" alt="")
                section.wrapper.lg-10.offset-1.md-8.sm-4
                    .lg-6.md-8.sm-4.text--center
                        h2 Your Project
                        p What are your current hacks? Tell everyone what you're working on right now. Got a startup? There's no better place to promote it.</p>
                    .lg-6.md-8.sm-4.text--center
                        h2 Your Story
                        p Everyone has a unique past and personality. Tell the world your hobbies and interests. Show off your education and work history.
        footer.page-footer
            hr
            small.copyright Copyright 2019 by Greenhouse Tech
            a.cookies-notice(href="javascript:window.Metomic('ConsentManager:show')", role="button") Manage Cookies