//- grid.pug

extends ../templates/main.pug

block append variables
    - var page = "Grid"

block content
    .test
    .test
    .test
    .test
    .test
    .test
    .test
    .test
    .test
    .test
    .test
    .test