//- grid.pug

extends ../templates/main.pug

block append variables
    - var page_title = "Grid"

block content
    main.wrapper
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test