//- legal.pug

extends ../templates/center.pug

block append variables
    - var page_title = "Legal Stuff"

block content
    h1 Legal
    p We take your safety and security very seriously, so we've drawn up some guidelines that we hope will make this a safer website for everyone. They aren't that long, and we suggest that you at least skim them.
    p We have a <a href="/legal/privacy.html">Privacy Policy</a> and some <a href="/legal/terms-of-service.html">Terms of Service</a>