//- legal.pug

extends ../templates/main.pug

block append variables
    - var page_title = "Legal Stuff"

block content
    main.wrapper.text--center
        h1.col-12 Legal
        p.col-8.offset-2 We take your safety and security very seriously, so we've drawn up some guidelines that we hope will make this a safer website for everyone. They aren't that long, and we suggest that you at least skim them.
        p.col-8.offset-2 We have a <a href="/legal/privacy.html">Privacy Policy</a> and some <a href="/legal/terms-of-service.html">Terms of Service</a>