//- test.pug

extends ../templates/main.pug

block append variables
    - var page = "Test"

block append head
    script(src="https://unpkg.com/dev-widget@1.1.0/dist/card.component.min.mjs" type="module")
    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

block content
    dev-widget(data-username="b3u")
    a.twitter-timeline(data-width="300" data-height="420" href="https://twitter.com/BinyaminGreen") Tweets by Binyamin Green