.btn {
    border: none;
    background-color: $accent--dark;
    color: $white;
    padding: 8px 24px;
    border-radius: 0;
    text-decoration: none;
    cursor: pointer;
    
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0.02em;
    font-family: $font-stack;

    &:hover,
    &:focus {
        outline: none;
        background-color: $accent;
    }
}