.page-footer {
    max-height: 56px;
    margin: 12px 0 24px 0;

    border-top: 1px solid $black;
    text-align: center;
    
   .social__link {
        text-decoration: none;
        margin: 0 12px;
    }
}