.page-footer {
    margin: 0 36px;
    padding: 16px 0;
    text-align: center;
    .copyright {
        margin-bottom: 8px;
        display: block;
    }
    .social__link {
        text-decoration: none;
        margin: 0 12px;
    }
}