//- terms-of-service.pug

extends ../../templates/main.pug

block append variables
    - var page_title = "Terms of Service"

block content
    main.wrapper
        .lg-10--center.md-8.sm-4
            include:markdown-it ../../tos.md