//- Coming Soon.pug

extends ../templates/base.pug

block append variables
    - var url = "https://getdevme.com"

block content
    header.page-header
        img(src="/assets/wordmark.svg" alt="DevMe").page-header__logo-img
        a(href="#", role="button", hidden, aria-hidden=true, aria-label="Toggle Menu", aria-controls="nav")#hamburger.hamburger.js-hamburger
            span.hamburger__bar
            span.hamburger__bar
            span.hamburger__bar
        nav#nav.nav-wrapper.js-nav-wrapper
            a.nav__link(href="https://github.com/greenhousetech/devme", rel="external nofollow", aria-label="Find us on GitHub")
                include ../assets/icon/github.svg
            a.nav__link(href="https://twitter.com/getdevme", rel="external nofollow", aria-label="Find us on Twitter")
                include ../assets/icon/twitter.svg
    main.main--default
        .wrapper
            section.wrapper.lg-12.md-8.sm-4
                .lg-6.md-8.sm-4
                    h1.text--large Your Skills, Your Page.
                    p.text--bigger List your skills, job experience, projects, and hobbies with a single link. It's coming, just you wait. Stay updated for details.
                    form.form--single-input(action="https://getdevme.us18.list-manage.com/subscribe/post", method="post", target="_blank")
                        input(type="email" name="EMAIL" required placeholder="Enter your email" aria-label="Email" aria-description="Enter your email to receive project updates")
                        input(type="hidden" name="u" value="4fdf9c5af9a5d0fee06a55de0" aria-hidden=true)
                        input(type="hidden" name="id" value="8338f7c35b" aria-hidden=true)
                        //- Start GDPR
                        input(type="hidden" name="gdpr[59603]" value="Y" aria-hidden=true)
                        //- End GDPR
                        button(type="submit" aria-label="Submit")
                            include ../assets/icon/email.svg
                img.media.lg-6.md-8.sm-4(src="/assets/img/placeholder.svg" alt="")
            section.wrapper.lg-10.offset-1.md-8.sm-4
                .lg-6.md-8.sm-4.text--center
                    h2 Your Projects
                    p What are your current hacks? What's your side-project right now? Tell everyone what you're working on <abbr title="at the moment">atm</abbr>. If you have a startup, there's no better place to promote than here.
                .lg-6.md-8.sm-4.text--center
                    h2 Your Story
                    p Everyone has a unique past and personality. Reveal the world your hobbies and interests. Show off your education and work history.
    footer.page-footer
        hr
        small.copyright Copyright 2019 by Greenhouse Tech