//- index.pug

extends ../templates/main.pug

block append variables
    - var body_class = "page--home"

block content
    main.main--default
        .wrapper
            section.wrapper.lg-12.md-8.sm-4
                .lg-6.md-8.sm-4
                    h1.text--large All your socials, one page.
                    p.text--sub-heading Show off your projects, education, or geekiness with one link.
                    button.btn.text--bigger(data-micromodal-trigger="modalSignup") Claim your Profile
                img.media(src="/assets/img/placeholder.svg" alt="").lg-6.md-8.sm-4
            section.wrapper.lg-10.offset-1.md-8.sm-4
                .lg-6.md-8.sm-4.text--center
                    h2 Your Project
                    p What are your current hacks? Tell everyone what you're working on right now. Got a startup? There's no better place to promote it.</p>
                .lg-6.md-8.sm-4.text--center
                    h2 Your Story
                    p Everyone has a unique past and personality. Tell the world your hobbies and interests. Show off your education and work history.
