//- Progress.pug

extends ../templates/base.pug

block append variables
    - var page_title = "Progress"

block content
    header.page-header
        img(src="/assets/wordmark.svg" alt="DevMe").page-header__logo-img
        a(href="#", role="button", hidden, aria-hidden=true, aria-label="Toggle Menu", aria-controls="nav")#hamburger.hamburger.js-hamburger
            span.hamburger__bar
            span.hamburger__bar
            span.hamburger__bar
        nav#nav.nav-wrapper.js-nav-wrapper
            a.nav__link(href="https://github.com/greenhousetech/devme", rel="external nofollow", aria-label="Find us on GitHub")
                include ../assets/icon/github.svg
            a.nav__link(href="https://twitter.com/getdevme", rel="external nofollow", aria-label="Find us on Twitter")
                include ../assets/icon/twitter.svg
    main.main--default.wrapper
        article.lg-12.md-8.sm-4
            include:markdown-it(html=true) ../changelog.md
    footer.page-footer
        hr
        small.copyright Copyright 2019 by Greenhouse Tech
        a.cookies-notice(href="javascript:window.Metomic('ConsentManager:show')", role="button") Manage Cookies