//- main.pug

block variables
    - var body_class = ""
    - var site_title = "DevMe. One page for everything developer about you."
    - var site_desc = "DevMe will allow all developers to list their skills, job experience, projects, and hobbies on a single page."

doctype html
html(lang="en")
    head
        block head
            include seo.pug
            include head.pug
    body(class="page-wrapper " + body_class)
        block content