//- main.pug

block variables
    - var body_class = ""
    - var site_title = "DevMe - A Universal Profile for Developers"
    - var site_desc = "All your socials on one Page. Stay tuned for updates."

doctype html
html(lang="en")
    head
        block head
            include seo.pug
            include head.pug
    body(class="page-wrapper " + body_class)
        block content