//- footer.pug

block footer
    footer.page-footer
        hr
        small.copyright Copyright 2019 by Greenhouse Tech
        a.cookies-notice(href="javascript:window.Metomic('ConsentManager:show')", role="button") Manage Cookies
        .page-footer__social
            a.social__link(href="mailto:getdevme@gmail.com", rel="external nofollow", aria-label="Email Us")
                include ../assets/icon/email.svg
            a.social__link(href="https://github.com/greenhousetech/devme", rel="external nofollow", aria-label="Find us on GitHub")
                include ../assets/icon/github.svg
            a.social__link(href="https://twitter.com/getdevme", rel="external nofollow", aria-label="Find us on Twitter")
                include ../assets/icon/twitter.svg