//- main.pug

block variables
    - var body_class = ""

doctype html
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            if page_title
                title #{page_title} | DevMe - A Universal Profile for Developers
            else
                title DevMe - A Universal Profile for Developers
            link(rel="shortcut icon", href="/assets/favicon.ico", type="image/x-icon")
            link(rel="stylesheet", href="/css/style.min.css")
            script(defer, src="/js/bundle.min.js")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")
    body(class="page-wrapper " + body_class)
        header.page-header
            a(href="/").page-header__logo
                img(src="/assets/wordmark.svg" alt="DevMe Logo").page-header__logo-img
            nav.page-header__nav-link-wrapper
                a(href="/about.html").page-header__nav-link About
                a(href="/open.html").page-header__nav-link Open
                a(href="/legal.html").page-header__nav-link Legal
        block content
        footer.page-footer
            p.page-footer__copyright Copyright © 2019 Greenhouse Tech
            .page-footer__social
                a(href="mailto:getdevme@gmail.com").social__link
                    img(src="/assets/icon/email.svg" alt="Email link")
                a(href="https://github.com/greenhousetech/devme").social__link
                    img(src="/assets/icon/github.svg" alt="GitHub link")
                a(href="https://twitter.com/getdevme").social__link
                    img(src="/assets/icon/twitter.svg" alt="Twitter link")